SUPABASE_DATABASE_URL=postgresql+psycopg://postgres.vfiixozamcfbhypvmgmk:"PASWORD"@aws-0-us-east-2.pooler.supabase.com:5432/postgres
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60