/* You can add global styles to this file, and also import other style files */
@import "@ionic/angular/css/core.css";

@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";

@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "@ionic/angular/css/display.css";

:root {
	color-scheme: light;
	--ion-background-color: #ffffff;
	--ion-background-color-rgb: 255, 255, 255;
	--ion-text-color: #164e63;
	--ion-color-primary: #0891b2;
	--ion-color-primary-rgb: 8, 145, 178;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255, 255, 255;
	--ion-color-primary-shade: #077f9d;
	--ion-color-primary-tint: #219bb9;
	--ion-color-success: #059669;
	--ion-color-success-rgb: 5, 150, 105;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255, 255, 255;
	--ion-color-success-shade: #05845c;
	--ion-color-success-tint: #1fa278;
}

html,
body {
	background: #ffffff;
}